.container {
  /* background-color: rgb(66, 66, 94); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  /* flex-wrap: wrap; */
  align-items: center;
  min-height: 100%;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 60px;
}
