nav {
  position: fixed;
  width: 100%;
  z-index: 6;
  /* paddding: 10px; */
  top: 0px;
}

nav h1 {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  background-color: rgb(106, 249, 206);
  box-shadow: 0px 0px 0px 1px rgba(252, 0, 252, 0.2);
  top: 0px;
  padding: 1rem;
  color: hotpink;
  font-size: 20px;
}
