* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  background-color: black;
  /* background: radial-gradient(
    circle,
    rgba(205, 145, 210, 1) 0%,
    rgba(238, 238, 179, 1) 100% */
  /* ); */
  min-height: 100vh; /* wichtig damit hg bis nach ganz unten geht */
}

.page {
  display: none;

  /* padding: 3rem; */
}

.page.current {
  display: block;
}
