* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  /* min-height: 100%; */
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;

  /* min-height: 100%; */
}

main {
  background: radial-gradient(
    circle,
    rgba(205, 145, 210, 1) 0%,
    rgba(238, 238, 174, 1) 100%
  );
  /* background: radial-gradient(
    circle,
    rgba(145, 210, 164, 1) 7%,
    rgba(238, 174, 202, 1) 100%
  ); */
  min-height: 100vh;
}
